# Eurostat Data Analysis for Short-Stay Accommodations


This notebook provides an initial analysis of three Eurostat datasets relevant to short-stay accommodations:

- `ei_cphi_m`: Harmonised Index of Consumer Prices (HICP), monthly data.
- `ei_bsse_m_r2`: Services confidence indicator, monthly data.
- `ei_bsco_m`: Consumer confidence indicator, monthly data.

The analysis includes data loading, summary statistics, and initial visualizations.

In [2]:
#!pip install eurostat

import eurostat
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the datasets from Eurostat
hicp_data = eurostat.get_data_df('ei_cphi_m')
services_confidence_data = eurostat.get_data_df('ei_bsse_m_r2')
consumer_confidence_data = eurostat.get_data_df('ei_bsco_m')

In [3]:
hicp_data.head()

,freq,unit,s_adj,indic,geo\TIME_PERIOD,1996-01,1996-02,1996-03,1996-04,1996-05,...,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10
0,M,HICP2015,NSA,CP-HI00,AL,NaN,NaN,NaN,NaN,NaN,...,128.98,129.39,130.36,130.37,130.32,130.07,129.83,130.22,NaN,NaN
1,M,HICP2015,NSA,CP-HI00,AT,71.34,71.55,71.77,71.69,71.62,...,132.60,133.26,134.12,134.27,134.39,134.44,133.95,133.77,134.13,134.66
2,M,HICP2015,NSA,CP-HI00,BE,69.91,69.98,70.12,70.47,70.61,...,127.51,130.54,131.05,130.72,130.98,131.56,130.76,132.73,132.21,133.13
3,M,HICP2015,NSA,CP-HI00,BG,NaN,NaN,NaN,NaN,NaN,...,136.29,136.72,137.05,136.93,136.93,137.15,138.75,138.83,137.25,NaN
4,M,HICP2015,NSA,CP-HI00,CH,NaN,NaN,NaN,NaN,NaN,...,106.57,106.80,106.74,107.30,107.58,107.44,107.89,107.86,107.50,NaN

In [4]:
services_confidence_data.head()

,freq,indic,s_adj,unit,geo\TIME_PERIOD,1988-01,1988-02,1988-03,1988-04,1988-05,...,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10
0,M,BS-PE3M,NSA,BAL,AL,NaN,NaN,NaN,NaN,NaN,...,10.9,9.5,8.8,13.5,8.2,12.6,8.1,6.9,4.0,8.4
1,M,BS-PE3M,NSA,BAL,AT,NaN,NaN,NaN,NaN,NaN,...,42.4,20.9,18.1,10.4,12.7,8.0,9.8,3.6,8.2,14.5
2,M,BS-PE3M,NSA,BAL,BE,NaN,NaN,NaN,NaN,NaN,...,42.2,16.4,9.0,8.1,6.0,9.5,7.0,7.2,7.1,9.5
3,M,BS-PE3M,NSA,BAL,BG,NaN,NaN,NaN,NaN,NaN,...,13.7,13.2,13.3,14.5,8.2,8.5,4.9,2.7,0.9,3.9
4,M,BS-PE3M,NSA,BAL,CY,NaN,NaN,NaN,NaN,NaN,...,21.4,36.5,43.7,32.1,27.8,40.3,27.7,24.8,28.2,5.7

In [5]:
consumer_confidence_data.head()

,freq,indic,s_adj,unit,geo\TIME_PERIOD,1980-01,1980-02,1980-03,1980-04,1980-05,...,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10
0,M,BS-CSMCI,NSA,BAL,AL,NaN,NaN,NaN,NaN,NaN,...,-12.8,-14.6,-14.3,-10.2,-13.2,-12.9,-12.5,-11.5,-11.4,-11.8
1,M,BS-CSMCI,NSA,BAL,AT,NaN,NaN,NaN,NaN,NaN,...,-18.1,-15.9,-16.2,-13.2,-14.9,-12.2,-14.4,-13.1,-14.1,-16.1
2,M,BS-CSMCI,NSA,BAL,BE,NaN,NaN,NaN,NaN,NaN,...,-10.7,-11.9,-11.1,-10.5,-10.1,-6.5,-8.5,-7.1,-9.7,-10.2
3,M,BS-CSMCI,NSA,BAL,BG,NaN,NaN,NaN,NaN,NaN,...,-18.7,-20.6,-18.8,-19.8,-18.1,-14.3,-19.1,-18.3,-15.6,-16.3
4,M,BS-CSMCI,NSA,BAL,CY,NaN,NaN,NaN,NaN,NaN,...,-21.8,-26.5,-23.7,-26.5,-25.3,-20.7,-22.1,-27.0,-25.5,-27.3

In [3]:
import eurostat
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Load Eurostat datasets 
# For "demo_r_d2jan" dataset: demography
#demo_data = eurostat.get_data_df('demo_r_d2jan')

# For "tour_ce_omn12" dataset: Local information about tourism
tourism_data = eurostat.get_data_df('tour_ce_omn12')

In [4]:
import pandas as pd



# Replace this with your actual dataset
df = pd.DataFrame(tourism_data)

# Step 1: Convert month codes to readable format
month_mapping = {
    'M01': 'January', 'M02': 'February', 'M03': 'March', 'M04': 'April',
    'M05': 'May', 'M06': 'June', 'M07': 'July', 'M08': 'August',
    'M09': 'September', 'M10': 'October', 'M11': 'November', 'M12': 'December',
    'TOTAL': 'Total'
}
df['month'] = df['month'].map(month_mapping)

# Step 2: Melt year columns into a single "Year" and "Value" format
df_melted = df.melt(id_vars=['freq', 'indic_to', 'c_resid', 'month', 'unit', 'geo\\TIME_PERIOD'], 
                    var_name='Year', 
                    value_name='Value')

# Step 3: Split geo\TIME_PERIOD into geo_code and region_name if needed
# This is hypothetical as you will have to handle different regions differently
df_melted['geo_code'] = df_melted['geo\\TIME_PERIOD'].str.extract(r'([A-Z0-9]+)')
df_melted['region_name'] = df_melted['geo\\TIME_PERIOD'].str.extract(r'\[(.*?)\]')

# Step 4: Ensure categorical columns are consistent (capitalize, standardize as needed)
df_melted['indic_to'] = df_melted['indic_to'].str.upper()
df_melted['c_resid'] = df_melted['c_resid'].str.upper()

# Step 5: Handle missing data if necessary
df_melted['Value'] = df_melted['Value'].fillna(0)  # Replace NaN with 0 or any other strategy

# Now df_melted is ready for visualizations and comparisons
print(df_melted.head())

  freq indic_to c_resid    month unit geo\TIME_PERIOD  Year    Value geo_code  \
0    A     LSTY     DOM  January   NR              AT  2018  23783.0       AT
1    A     LSTY     DOM  January   NR             AT1  2018   8096.0      AT1
2    A     LSTY     DOM  January   NR            AT11  2018    239.0     AT11
3    A     LSTY     DOM  January   NR            AT12  2018    790.0     AT12
4    A     LSTY     DOM  January   NR            AT13  2018   7067.0     AT13

  region_name
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

In [7]:
print(tourism_data)

      freq indic_to c_resid  month unit geo\TIME_PERIOD      2018      2019  \
0        A     LSTY     DOM    M01   NR              AT   23783.0   27923.0
1        A     LSTY     DOM    M01   NR             AT1    8096.0    9799.0
2        A     LSTY     DOM    M01   NR            AT11     239.0     374.0
3        A     LSTY     DOM    M01   NR            AT12     790.0    1323.0
4        A     LSTY     DOM    M01   NR            AT13    7067.0    8102.0
...    ...      ...     ...    ...  ...             ...       ...       ...
45040    A      STY   TOTAL  TOTAL   NR             SK0  201570.0  282091.0
45041    A      STY   TOTAL  TOTAL   NR            SK01   83713.0  127479.0
45042    A      STY   TOTAL  TOTAL   NR            SK02   16825.0   22662.0
45043    A      STY   TOTAL  TOTAL   NR            SK03   57106.0   68598.0
45044    A      STY   TOTAL  TOTAL   NR            SK04   43926.0   63352.0

           2020      2021      2022      2023     2024
0       34156.0   17680.0   42738.0   47964.0  53079.0
1       11922.0   11908.0   15822.0   17954.0  20805.0
2         563.0     123.0     433.0     762.0    902.0
3        1524.0     829.0    2096.0    2655.0   2956.0
4        9835.0   10956.0   13293.0   14537.0  16947.0
...         ...       ...       ...       ...      ...
45040  164077.0  143318.0  260114.0  377298.0      NaN
45041   44507.0   38707.0   72293.0  123117.0      NaN
45042   15411.0   16703.0   29347.0   40974.0      NaN
45043   58203.0   47117.0   87260.0  111667.0      NaN
45044   45956.0   40791.0   71214.0  101540.0      NaN

[45045 rows x 13 columns]

In [8]:
import pandas as pd
pd.DataFrame(tourism_data)
tourism_data.to_excel('tourism_data.xlsx')

## Checking for Missing Values

In [11]:

# Check for missing values in each dataset
print("Missing values in HICP dataset:")
print(hicp_data.isnull().sum())

print("\nMissing values in Services Confidence dataset:")
print(services_confidence_data.isnull().sum())

print("\nMissing values in Consumer Confidence dataset:")
print(consumer_confidence_data.isnull().sum())

Missing values in HICP dataset:
freq                  0
unit                  0
s_adj                 0
indic                 0
geo\TIME_PERIOD       0
                   ...
2024-06             150
2024-07             150
2024-08             150
2024-09             225
2024-10            2967
Length: 351, dtype: int64

Missing values in Services Confidence dataset:
freq                0
indic               0
s_adj               0
unit                0
geo\TIME_PERIOD     0
                   ..
2024-06            12
2024-07            12
2024-08            12
2024-09            12
2024-10            24
Length: 447, dtype: int64

Missing values in Consumer Confidence dataset:
freq                0
indic               0
s_adj               0
unit                0
geo\TIME_PERIOD     0
                   ..
2024-06            24
2024-07            24
2024-08            24
2024-09            24
2024-10            48
Length: 543, dtype: int64

## Checking for Duplicate Rows

In [12]:

# Check for duplicates in each dataset
print("Duplicate rows in HICP dataset:", hicp_data.duplicated().sum())
print("Duplicate rows in Services Confidence dataset:", services_confidence_data.duplicated().sum())
print("Duplicate rows in Consumer Confidence dataset:", consumer_confidence_data.duplicated().sum())

Duplicate rows in HICP dataset: 0
Duplicate rows in Services Confidence dataset: 0
Duplicate rows in Consumer Confidence dataset: 0

## Summary Statistics

In [13]:

# Descriptive statistics for numerical columns in each dataset
print("Descriptive statistics for HICP dataset:")
print(hicp_data.describe())

print("\nDescriptive statistics for Services Confidence dataset:")
print(services_confidence_data.describe())

print("\nDescriptive statistics for Consumer Confidence dataset:")
print(consumer_confidence_data.describe())

Descriptive statistics for HICP dataset:
          1996-01      1996-02      1996-03      1996-04      1996-05  \
count  588.000000  1176.000000  1176.000000  1176.000000  1176.000000
mean    61.083214    31.016514    31.461947    31.562543    31.551122
std     29.874708    36.926418    37.058848    37.267757    37.442016
min      0.440000   -20.900000    -1.000000    -2.200000    -3.200000
25%     46.312500     0.400000     0.400000     0.400000     0.300000
50%     61.160000     3.700000     4.230000     3.885000     3.160000
75%     71.627500    61.217500    62.237500    62.677500    62.922500
max    234.400000   236.600000   237.500000   237.300000   236.800000

           1996-06      1996-07      1996-08      1996-09      1996-10  ...  \
count  1176.000000  1176.000000  1176.000000  1176.000000  1176.000000  ...
mean     31.396905    31.421964    31.369235    32.016054    31.887696  ...
std      37.605337    37.501655    37.458444    37.496245    37.688409  ...
min      -5.200000   -12.800000   -15.100000    -3.000000    -3.300000  ...
25%       0.100000     0.100000     0.100000     0.400000     0.200000  ...
50%       2.380000     2.900000     3.400000     4.530000     3.530000  ...
75%      62.810000    62.687500    62.695000    63.505000    63.420000  ...
max     236.600000   236.600000   236.800000   237.300000   237.800000  ...

           2024-01      2024-02      2024-03      2024-04      2024-05  \
count  3114.000000  3114.000000  3114.000000  3114.000000  3114.000000
mean     49.065613    49.661529    50.086991    50.472171    50.696024
std      87.749687    90.260456    92.279449    94.384941    96.221326
min     -22.300000   -17.400000   -12.800000   -12.200000   -13.000000
25%       0.400000     0.600000     0.500000     0.600000     0.300000
50%       3.800000     3.400000     3.100000     2.900000     2.900000
75%     116.217500   116.940000   117.800000   118.370000   118.597500
max     998.520000  1086.700000  1151.990000  1198.490000  1208.900000

           2024-06      2024-07      2024-08      2024-09     2024-10
count  3114.000000  3114.000000  3114.000000  3039.000000  297.000000
mean     50.721888    50.844326    50.921747    51.432636   42.126498
std      97.257113    99.249429   100.663997   103.700793   60.298357
min     -12.200000   -27.100000   -13.300000   -14.200000  -12.200000
25%       0.200000     0.400000     0.200000     0.200000    0.400000
50%       2.700000     2.700000     2.600000     2.700000    2.400000
75%     118.815000   118.857500   118.525000   119.250000  119.560000
max    1246.330000  1287.880000  1313.950000  1349.720000  161.810000

[8 rows x 346 columns]

Descriptive statistics for Services Confidence dataset:
         1988-01    1988-02    1988-03    1988-04    1988-05    1988-06  \
count  12.000000   6.000000   6.000000  12.000000   6.000000   6.000000
mean   13.466667  14.300000  15.183333  16.400000  14.650000  13.850000
std    12.536951   9.449233   7.772108   9.021792   6.394607   3.700135
min   -11.100000  -1.600000   5.200000  -1.600000   4.100000   8.000000
25%    11.800000  11.425000   9.925000  14.075000  12.825000  12.025000
50%    15.150000  15.000000  16.050000  18.650000  15.100000  14.400000
75%    21.975000  20.225000  18.200000  22.050000  17.450000  16.325000
max    25.600000  25.200000  27.000000  28.600000  23.300000  18.100000

         1988-07    1988-08    1988-09    1988-10  ...     2024-01  \
count  12.000000   6.000000   6.000000  12.000000  ...  384.000000
mean   14.458333  13.750000  14.483333  12.700000  ...    9.614063
std     3.593797   1.609658   2.708813   5.117883  ...   12.991170
min     9.200000  11.100000   9.700000   3.200000  ...  -26.800000
25%    12.050000  13.250000  14.400000  10.700000  ...    1.300000
50%    13.250000  13.700000  14.850000  14.000000  ...    8.650000
75%    16.300000  15.050000  15.075000  16.050000  ...   17.275000
max    21.100000  15.400000  18.100000  20.800000  ...   49.900000

          2024-02     2024-03     2024-04     2024-05     2024-06     2024-07  \
count  384.000000  384.000000  384.000000  384.000000  384.000000  384.000000
mean     9.794792   10.571615   11.166927   11.657292   12.281250   10.872917
std     13.376907   13.777808   13.455620   13.805851   12.810473   11.609967
min    -26.800000  -28.700000  -25.400000  -25.000000  -19.900000  -21.000000
25%      1.550000    2.200000    4.000000    3.875000    4.175000    3.300000
50%     10.000000    8.800000    9.250000    8.850000    9.950000    9.800000
75%     17.525000   17.825000   17.800000   17.600000   18.150000   15.625000
max     51.300000   62.200000   68.600000   72.800000   59.800000   47.500000

          2024-08     2024-09     2024-10
count  384.000000  384.000000  372.000000
mean     9.933073    9.617448    9.455914
std     11.195557   11.421657   12.022869
min    -15.700000  -16.000000  -15.100000
25%      2.875000    2.775000    1.600000
50%      8.000000    8.050000    6.900000
75%     15.575000   14.225000   14.800000
max     51.700000   67.400000   57.300000

[8 rows x 442 columns]

Descriptive statistics for Consumer Confidence dataset:
         1980-01    1980-02    1980-03    1980-04    1980-05   1980-06  \
count  20.000000  20.000000  20.000000  20.000000  20.000000  20.00000
mean    3.760000   3.990000   4.085000   4.160000   6.550000   6.63500
std    43.433632  43.462421  43.408431  43.695085  39.410345  39.42276
min   -59.800000 -59.000000 -59.000000 -59.000000 -50.500000 -50.40000
25%   -31.500000 -31.500000 -31.500000 -31.500000 -23.325000 -23.30000
50%    -6.500000  -6.500000  -6.450000  -6.500000  -2.450000  -2.15000
75%    41.625000  41.250000  41.775000  42.225000  39.250000  39.25000
max    82.000000  82.000000  82.000000  82.000000  78.000000  78.00000

         1980-07    1980-08    1980-09    1980-10  ...     2024-01  \
count  20.000000  20.000000  20.000000  20.000000  ...  792.000000
mean    6.565000   6.490000   6.485000   7.235000  ...   -3.354545
std    39.314391  39.277728  38.866861  41.955305  ...   31.077700
min   -50.300000 -50.700000 -50.400000 -57.500000  ...  -76.000000
25%   -23.000000 -22.850000 -21.600000 -24.475000  ...  -22.900000
50%    -2.950000  -3.250000  -2.350000  -1.000000  ...   -8.400000
75%    39.100000  39.100000  38.700000  51.875000  ...   13.800000
max    78.000000  78.000000  78.000000  78.500000  ...   86.600000

          2024-02     2024-03     2024-04     2024-05     2024-06     2024-07  \
count  792.000000  792.000000  792.000000  792.000000  792.000000  792.000000
mean    -3.885480   -3.499747   -3.049621   -2.503788   -2.134722   -2.313889
std     30.984227   29.871473   29.207732   28.805577   28.095618   28.277476
min    -76.400000  -75.300000  -70.000000  -72.900000  -70.500000  -66.900000
25%    -24.900000  -23.300000  -21.600000  -21.000000  -20.800000  -22.025000
50%     -7.000000   -6.200000   -7.650000   -6.300000   -5.300000   -5.600000
75%     13.725000   13.500000   12.300000   14.025000   14.200000   15.450000
max     90.600000   88.000000   84.500000   82.900000   83.900000   84.200000

          2024-08     2024-09     2024-10
count  792.000000  792.000000  768.000000
mean    -2.063889   -1.848232   -1.791797
std     28.549642   28.304617   28.799589
min    -69.800000  -68.800000  -68.200000
25%    -22.225000  -21.725000  -21.625000
50%     -5.500000   -4.200000   -6.000000
75%     15.625000   16.275000   17.100000
max     84.800000   81.400000   82.500000

[8 rows x 538 columns]

## Initial Visualizations

In [14]:

# Sample visualizations: time series plots for each dataset

# Convert 'time' column to datetime format if necessary
hicp_data['time'] = pd.to_datetime(hicp_data['time'], errors='coerce')
services_confidence_data['time'] = pd.to_datetime(services_confidence_data['time'], errors='coerce')
consumer_confidence_data['time'] = pd.to_datetime(consumer_confidence_data['time'], errors='coerce')

# HICP Plot
plt.figure(figsize=(10, 6))
sns.lineplot(data=hicp_data, x='time', y='values', hue='geo', legend=None)
plt.title('HICP Over Time')
plt.xlabel('Time')
plt.ylabel('HICP Value')
plt.show()

# Services Confidence Indicator Plot
plt.figure(figsize=(10, 6))
sns.lineplot(data=services_confidence_data, x='time', y='values', hue='geo', legend=None)
plt.title('Services Confidence Indicator Over Time')
plt.xlabel('Time')
plt.ylabel('Confidence Indicator')
plt.show()

# Consumer Confidence Indicator Plot
plt.figure(figsize=(10, 6))
sns.lineplot(data=consumer_confidence_data, x='time', y='values', hue='geo', legend=None)
plt.title('Consumer Confidence Indicator Over Time')
plt.xlabel('Time')
plt.ylabel('Confidence Indicator')
plt.show()

KeyError: 'time'