In [12]:
#from flask import Flask, render_template, jsonify, request
import pandas as pd
import eurostat
import json
from shapely.geometry import shape, Point
from pyproj import Transformer


#app = Flask(__name__)

# Load GeoJSON data for regions and countries
#with open('map_app copy/nuts_2021.geojson', 'r', encoding='utf-8') as f:
#    geo_coordinates = json.load(f)

# --- DATA LOAD AND PREPARATION ---
data_analysed = eurostat.get_data_df('tour_ce_omn12')

# Replace month column to make it usable in analysis
data_analysed["month"] = data_analysed["month"].str.replace(r'M', "", regex=True)

# Rename the column for easier use
data_analysed = data_analysed.rename(columns={"geo\\TIME_PERIOD": "GEO"})

# Add years to the rows
data_analysed = data_analysed.melt(
    id_vars=['freq', 'indic_to', 'c_resid', 'month', 'unit', 'GEO'],
    var_name='TIME_PERIOD',
    value_name='bookings'
)

# Define main subsets based on 'indic_to'
Stay_df = data_analysed[data_analysed['indic_to'] == 'STY']
LengthOfStay_df = data_analysed[data_analysed['indic_to'] == 'LSTY']
NightsSpend_df = data_analysed[data_analysed['indic_to'] == 'NGT_SP']

# Create dictionary for subsets
subset_dict = {}
Yvars = {"Stay": Stay_df, "LengthOfStay": LengthOfStay_df, "NightsSpend": NightsSpend_df}
for name, df in Yvars.items():
    subset_dict[f"{name}_DOM"] = df[df["c_resid"] == "DOM"]
    subset_dict[f"{name}_FOR"] = df[df["c_resid"] == "FOR"]
    subset_dict[f"{name}_TOTAL"] = df[df["c_resid"] == "TOTAL"]

# Split data into monthly and annual periods
transformed_data = {}
for name, df in subset_dict.items():
    monthly = df[df["month"] != 'TOTAL'].copy()
    annual = df[df["month"] == 'TOTAL'].copy()
    monthly['month'] = pd.to_datetime(monthly['TIME_PERIOD'] + "-" + monthly['month'], format="%Y-%m")
    annual['month'] = pd.to_datetime(annual['TIME_PERIOD'], format="%Y")
    transformed_data[f"{name}_monthly"] = monthly
    transformed_data[f"{name}_annual"] = annual

transformed_data_cleaned = {key: df.dropna() for key, df in transformed_data.items()}
stay_data = {key: df for key, df in transformed_data_cleaned.items() if 'Stay_' in key}
length_of_stay_data = {key: df for key, df in transformed_data_cleaned.items() if 'LengthOfStay_' in key}
nights_spend_data = {key: df for key, df in transformed_data_cleaned.items() if 'NightsSpend_' in key}

In [13]:
stay_data

{'Stay_DOM_monthly':        freq indic_to c_resid      month unit   GEO TIME_PERIOD  bookings
 30030     A      STY     DOM 2018-01-01   NR    AT        2018    7263.0
 30031     A      STY     DOM 2018-01-01   NR   AT1        2018    2219.0
 30032     A      STY     DOM 2018-01-01   NR  AT11        2018     111.0
 30033     A      STY     DOM 2018-01-01   NR  AT12        2018     295.0
 30034     A      STY     DOM 2018-01-01   NR  AT13        2018    1813.0
 ...     ...      ...     ...        ...  ...   ...         ...       ...
 301450    A      STY     DOM 2024-03-01   NR   SK0        2024   14180.0
 301451    A      STY     DOM 2024-03-01   NR  SK01        2024    3692.0
 301452    A      STY     DOM 2024-03-01   NR  SK02        2024    1681.0
 301453    A      STY     DOM 2024-03-01   NR  SK03        2024    4825.0
 301454    A      STY     DOM 2024-03-01   NR  SK04        2024    3982.0

 [28845 rows x 8 columns],
 'Stay_DOM_annual':        freq indic_to c_resid      month unit   GEO TIME_PERIOD  bookings
 34650     A      STY     DOM 2018-01-01   NR    AT        2018  118630.0
 34651     A      STY     DOM 2018-01-01   NR   AT1        2018   44518.0
 34652     A      STY     DOM 2018-01-01   NR  AT11        2018    4452.0
 34653     A      STY     DOM 2018-01-01   NR  AT12        2018    7217.0
 34654     A      STY     DOM 2018-01-01   NR  AT13        2018   32849.0
 ...     ...      ...     ...        ...  ...   ...         ...       ...
 260255    A      STY     DOM 2023-01-01   NR   SK0        2023  149705.0
 260256    A      STY     DOM 2023-01-01   NR  SK01        2023   32732.0
 260257    A      STY     DOM 2023-01-01   NR  SK02        2023   19124.0
 260258    A      STY     DOM 2023-01-01   NR  SK03        2023   52408.0
 260259    A      STY     DOM 2023-01-01   NR  SK04        2023   45441.0

 [2310 rows x 8 columns],
 'Stay_FOR_monthly':        freq indic_to c_resid      month unit   GEO TIME_PERIOD  bookings
 35035     A      STY     FOR 2018-01-01   NR    AT        2018   65523.0
 35036     A      STY     FOR 2018-01-01   NR   AT1        2018   18005.0
 35037     A      STY     FOR 2018-01-01   NR  AT11        2018     140.0
 35038     A      STY     FOR 2018-01-01   NR  AT12        2018     641.0
 35039     A      STY     FOR 2018-01-01   NR  AT13        2018   17224.0
 ...     ...      ...     ...        ...  ...   ...         ...       ...
 306455    A      STY     FOR 2024-03-01   NR   SK0        2024   16789.0
 306456    A      STY     FOR 2024-03-01   NR  SK01        2024    8051.0
 306457    A      STY     FOR 2024-03-01   NR  SK02        2024    1593.0
 306458    A      STY     FOR 2024-03-01   NR  SK03        2024    3805.0
 306459    A      STY     FOR 2024-03-01   NR  SK04        2024    3340.0

 [28871 rows x 8 columns],
 'Stay_FOR_annual':        freq indic_to c_resid      month unit   GEO TIME_PERIOD  bookings
 39655     A      STY     FOR 2018-01-01   NR    AT        2018  928173.0
 39656     A      STY     FOR 2018-01-01   NR   AT1        2018  420865.0
 39657     A      STY     FOR 2018-01-01   NR  AT11        2018    4411.0
 39658     A      STY     FOR 2018-01-01   NR  AT12        2018   15083.0
 39659     A      STY     FOR 2018-01-01   NR  AT13        2018  401371.0
 ...     ...      ...     ...        ...  ...   ...         ...       ...
 265260    A      STY     FOR 2023-01-01   NR   SK0        2023  227593.0
 265261    A      STY     FOR 2023-01-01   NR  SK01        2023   90385.0
 265262    A      STY     FOR 2023-01-01   NR  SK02        2023   21850.0
 265263    A      STY     FOR 2023-01-01   NR  SK03        2023   59259.0
 265264    A      STY     FOR 2023-01-01   NR  SK04        2023   56099.0

 [2310 rows x 8 columns],
 'Stay_TOTAL_monthly':        freq indic_to c_resid      month unit   GEO TIME_PERIOD  bookings
 40040     A      STY   TOTAL 2018-01-01   NR    AT        2018   72786.0
 40041     A      STY   TOTAL 2018-01-01   NR   AT1        2018   20224.0
 40042     A      STY   TOTAL 2018-01-01   NR  AT11        2018     251.0
 40043     A      STY   TOTAL 2018-01-01   NR  AT12        2018     936.0
 40044     A      STY   TOTAL 2018-01-01   NR  AT13        2018   19037.0
 ...     ...      ...     ...        ...  ...   ...         ...       ...
 311460    A      STY   TOTAL 2024-03-01   NR   SK0        2024   30969.0
 311461    A      STY   TOTAL 2024-03-01   NR  SK01        2024   11743.0
 311462    A      STY   TOTAL 2024-03-01   NR  SK02        2024    3274.0
 311463    A      STY   TOTAL 2024-03-01   NR  SK03        2024    8630.0
 311464    A      STY   TOTAL 2024-03-01   NR  SK04        2024    7322.0

 [28875 rows x 8 columns],
 'Stay_TOTAL_annual':        freq indic_to c_resid      month unit   GEO TIME_PERIOD   bookings
 44660     A      STY   TOTAL 2018-01-01   NR    AT        2018  1046803.0
 44661     A      STY   TOTAL 2018-01-01   NR   AT1        2018   465383.0
 44662     A      STY   TOTAL 2018-01-01   NR  AT11        2018     8863.0
 44663     A      STY   TOTAL 2018-01-01   NR  AT12        2018    22300.0
 44664     A      STY   TOTAL 2018-01-01   NR  AT13        2018   434220.0
 ...     ...      ...     ...        ...  ...   ...         ...        ...
 270265    A      STY   TOTAL 2023-01-01   NR   SK0        2023   377298.0
 270266    A      STY   TOTAL 2023-01-01   NR  SK01        2023   123117.0
 270267    A      STY   TOTAL 2023-01-01   NR  SK02        2023    40974.0
 270268    A      STY   TOTAL 2023-01-01   NR  SK03        2023   111667.0
 270269    A      STY   TOTAL 2023-01-01   NR  SK04        2023   101540.0

 [2310 rows x 8 columns],
 'LengthOfStay_DOM_monthly':        freq indic_to c_resid      month unit   GEO TIME_PERIOD  bookings
 0         A     LSTY     DOM 2018-01-01   NR    AT        2018   23783.0
 1         A     LSTY     DOM 2018-01-01   NR   AT1        2018    8096.0
 2         A     LSTY     DOM 2018-01-01   NR  AT11        2018     239.0
 3         A     LSTY     DOM 2018-01-01   NR  AT12        2018     790.0
 4         A     LSTY     DOM 2018-01-01   NR  AT13        2018    7067.0
 ...     ...      ...     ...        ...  ...   ...         ...       ...
 271420    A     LSTY     DOM 2024-03-01   NR   SK0        2024   32034.0
 271421    A     LSTY     DOM 2024-03-01   NR  SK01        2024    7696.0
 271422    A     LSTY     DOM 2024-03-01   NR  SK02        2024    3498.0
 271423    A     LSTY     DOM 2024-03-01   NR  SK03        2024   11497.0
 271424    A     LSTY     DOM 2024-03-01   NR  SK04        2024    9343.0

 [28848 rows x 8 columns],
 'LengthOfStay_DOM_annual':        freq indic_to c_resid      month unit   GEO TIME_PERIOD  bookings
 4620      A     LSTY     DOM 2018-01-01   NR    AT        2018  376614.0
 4621      A     LSTY     DOM 2018-01-01   NR   AT1        2018  139347.0
 4622      A     LSTY     DOM 2018-01-01   NR  AT11        2018   10899.0
 4623      A     LSTY     DOM 2018-01-01   NR  AT12        2018   19502.0
 4624      A     LSTY     DOM 2018-01-01   NR  AT13        2018  108946.0
 ...     ...      ...     ...        ...  ...   ...         ...       ...
 230225    A     LSTY     DOM 2023-01-01   NR   SK0        2023  342440.0
 230226    A     LSTY     DOM 2023-01-01   NR  SK01        2023   68325.0
 230227    A     LSTY     DOM 2023-01-01   NR  SK02        2023   42281.0
 230228    A     LSTY     DOM 2023-01-01   NR  SK03        2023  125507.0
 230229    A     LSTY     DOM 2023-01-01   NR  SK04        2023  106327.0

 [2310 rows x 8 columns],
 'LengthOfStay_FOR_monthly':        freq indic_to c_resid      month unit   GEO TIME_PERIOD  bookings
 5005      A     LSTY     FOR 2018-01-01   NR    AT        2018  302789.0
 5006      A     LSTY     FOR 2018-01-01   NR   AT1        2018   60095.0
 5007      A     LSTY     FOR 2018-01-01   NR  AT11        2018     335.0
 5008      A     LSTY     FOR 2018-01-01   NR  AT12        2018    2193.0
 5009      A     LSTY     FOR 2018-01-01   NR  AT13        2018   57567.0
 ...     ...      ...     ...        ...  ...   ...         ...       ...
 276425    A     LSTY     FOR 2024-03-01   NR   SK0        2024   50737.0
 276426    A     LSTY     FOR 2024-03-01   NR  SK01        2024   22683.0
 276427    A     LSTY     FOR 2024-03-01   NR  SK02        2024    5568.0
 276428    A     LSTY     FOR 2024-03-01   NR  SK03        2024   12459.0
 276429    A     LSTY     FOR 2024-03-01   NR  SK04        2024   10027.0

 [28871 rows x 8 columns],
 'LengthOfStay_FOR_annual':        freq indic_to c_resid      month unit   GEO TIME_PERIOD   bookings
 9625      A     LSTY     FOR 2018-01-01   NR    AT        2018  3710379.0
 9626      A     LSTY     FOR 2018-01-01   NR   AT1        2018  1445742.0
 9627      A     LSTY     FOR 2018-01-01   NR  AT11        2018    14396.0
 9628      A     LSTY     FOR 2018-01-01   NR  AT12        2018    52137.0
 9629      A     LSTY     FOR 2018-01-01   NR  AT13        2018  1379209.0
 ...     ...      ...     ...        ...  ...   ...         ...        ...
 235230    A     LSTY     FOR 2023-01-01   NR   SK0        2023   726542.0
 235231    A     LSTY     FOR 2023-01-01   NR  SK01        2023   248493.0
 235232    A     LSTY     FOR 2023-01-01   NR  SK02        2023    71924.0
 235233    A     LSTY     FOR 2023-01-01   NR  SK03        2023   213349.0
 235234    A     LSTY     FOR 2023-01-01   NR  SK04        2023   192776.0

 [2310 rows x 8 columns],
 'LengthOfStay_TOTAL_monthly':        freq indic_to c_resid      month unit   GEO TIME_PERIOD  bookings
 10010     A     LSTY   TOTAL 2018-01-01   NR    AT        2018  326572.0
 10011     A     LSTY   TOTAL 2018-01-01   NR   AT1        2018   68191.0
 10012     A     LSTY   TOTAL 2018-01-01   NR  AT11        2018     574.0
 10013     A     LSTY   TOTAL 2018-01-01   NR  AT12        2018    2983.0
 10014     A     LSTY   TOTAL 2018-01-01   NR  AT13        2018   64634.0
 ...     ...      ...     ...        ...  ...   ...         ...       ...
 281430    A     LSTY   TOTAL 2024-03-01   NR   SK0        2024   82771.0
 281431    A     LSTY   TOTAL 2024-03-01   NR  SK01        2024   30379.0
 281432    A     LSTY   TOTAL 2024-03-01   NR  SK02        2024    9066.0
 281433    A     LSTY   TOTAL 2024-03-01   NR  SK03        2024   23956.0
 281434    A     LSTY   TOTAL 2024-03-01   NR  SK04        2024   19370.0

 [28875 rows x 8 columns],
 'LengthOfStay_TOTAL_annual':        freq indic_to c_resid      month unit   GEO TIME_PERIOD   bookings
 14630     A     LSTY   TOTAL 2018-01-01   NR    AT        2018  4086993.0
 14631     A     LSTY   TOTAL 2018-01-01   NR   AT1        2018  1585089.0
 14632     A     LSTY   TOTAL 2018-01-01   NR  AT11        2018    25295.0
 14633     A     LSTY   TOTAL 2018-01-01   NR  AT12        2018    71639.0
 14634     A     LSTY   TOTAL 2018-01-01   NR  AT13        2018  1488155.0
 ...     ...      ...     ...        ...  ...   ...         ...        ...
 240235    A     LSTY   TOTAL 2023-01-01   NR   SK0        2023  1068982.0
 240236    A     LSTY   TOTAL 2023-01-01   NR  SK01        2023   316818.0
 240237    A     LSTY   TOTAL 2023-01-01   NR  SK02        2023   114205.0
 240238    A     LSTY   TOTAL 2023-01-01   NR  SK03        2023   338856.0
 240239    A     LSTY   TOTAL 2023-01-01   NR  SK04        2023   299103.0

 [2310 rows x 8 columns]}

In [14]:
length_of_stay_data

{'LengthOfStay_DOM_monthly':        freq indic_to c_resid      month unit   GEO TIME_PERIOD  bookings
 0         A     LSTY     DOM 2018-01-01   NR    AT        2018   23783.0
 1         A     LSTY     DOM 2018-01-01   NR   AT1        2018    8096.0
 2         A     LSTY     DOM 2018-01-01   NR  AT11        2018     239.0
 3         A     LSTY     DOM 2018-01-01   NR  AT12        2018     790.0
 4         A     LSTY     DOM 2018-01-01   NR  AT13        2018    7067.0
 ...     ...      ...     ...        ...  ...   ...         ...       ...
 271420    A     LSTY     DOM 2024-03-01   NR   SK0        2024   32034.0
 271421    A     LSTY     DOM 2024-03-01   NR  SK01        2024    7696.0
 271422    A     LSTY     DOM 2024-03-01   NR  SK02        2024    3498.0
 271423    A     LSTY     DOM 2024-03-01   NR  SK03        2024   11497.0
 271424    A     LSTY     DOM 2024-03-01   NR  SK04        2024    9343.0

 [28848 rows x 8 columns],
 'LengthOfStay_DOM_annual':        freq indic_to c_resid      month unit   GEO TIME_PERIOD  bookings
 4620      A     LSTY     DOM 2018-01-01   NR    AT        2018  376614.0
 4621      A     LSTY     DOM 2018-01-01   NR   AT1        2018  139347.0
 4622      A     LSTY     DOM 2018-01-01   NR  AT11        2018   10899.0
 4623      A     LSTY     DOM 2018-01-01   NR  AT12        2018   19502.0
 4624      A     LSTY     DOM 2018-01-01   NR  AT13        2018  108946.0
 ...     ...      ...     ...        ...  ...   ...         ...       ...
 230225    A     LSTY     DOM 2023-01-01   NR   SK0        2023  342440.0
 230226    A     LSTY     DOM 2023-01-01   NR  SK01        2023   68325.0
 230227    A     LSTY     DOM 2023-01-01   NR  SK02        2023   42281.0
 230228    A     LSTY     DOM 2023-01-01   NR  SK03        2023  125507.0
 230229    A     LSTY     DOM 2023-01-01   NR  SK04        2023  106327.0

 [2310 rows x 8 columns],
 'LengthOfStay_FOR_monthly':        freq indic_to c_resid      month unit   GEO TIME_PERIOD  bookings
 5005      A     LSTY     FOR 2018-01-01   NR    AT        2018  302789.0
 5006      A     LSTY     FOR 2018-01-01   NR   AT1        2018   60095.0
 5007      A     LSTY     FOR 2018-01-01   NR  AT11        2018     335.0
 5008      A     LSTY     FOR 2018-01-01   NR  AT12        2018    2193.0
 5009      A     LSTY     FOR 2018-01-01   NR  AT13        2018   57567.0
 ...     ...      ...     ...        ...  ...   ...         ...       ...
 276425    A     LSTY     FOR 2024-03-01   NR   SK0        2024   50737.0
 276426    A     LSTY     FOR 2024-03-01   NR  SK01        2024   22683.0
 276427    A     LSTY     FOR 2024-03-01   NR  SK02        2024    5568.0
 276428    A     LSTY     FOR 2024-03-01   NR  SK03        2024   12459.0
 276429    A     LSTY     FOR 2024-03-01   NR  SK04        2024   10027.0

 [28871 rows x 8 columns],
 'LengthOfStay_FOR_annual':        freq indic_to c_resid      month unit   GEO TIME_PERIOD   bookings
 9625      A     LSTY     FOR 2018-01-01   NR    AT        2018  3710379.0
 9626      A     LSTY     FOR 2018-01-01   NR   AT1        2018  1445742.0
 9627      A     LSTY     FOR 2018-01-01   NR  AT11        2018    14396.0
 9628      A     LSTY     FOR 2018-01-01   NR  AT12        2018    52137.0
 9629      A     LSTY     FOR 2018-01-01   NR  AT13        2018  1379209.0
 ...     ...      ...     ...        ...  ...   ...         ...        ...
 235230    A     LSTY     FOR 2023-01-01   NR   SK0        2023   726542.0
 235231    A     LSTY     FOR 2023-01-01   NR  SK01        2023   248493.0
 235232    A     LSTY     FOR 2023-01-01   NR  SK02        2023    71924.0
 235233    A     LSTY     FOR 2023-01-01   NR  SK03        2023   213349.0
 235234    A     LSTY     FOR 2023-01-01   NR  SK04        2023   192776.0

 [2310 rows x 8 columns],
 'LengthOfStay_TOTAL_monthly':        freq indic_to c_resid      month unit   GEO TIME_PERIOD  bookings
 10010     A     LSTY   TOTAL 2018-01-01   NR    AT        2018  326572.0
 10011     A     LSTY   TOTAL 2018-01-01   NR   AT1        2018   68191.0
 10012     A     LSTY   TOTAL 2018-01-01   NR  AT11        2018     574.0
 10013     A     LSTY   TOTAL 2018-01-01   NR  AT12        2018    2983.0
 10014     A     LSTY   TOTAL 2018-01-01   NR  AT13        2018   64634.0
 ...     ...      ...     ...        ...  ...   ...         ...       ...
 281430    A     LSTY   TOTAL 2024-03-01   NR   SK0        2024   82771.0
 281431    A     LSTY   TOTAL 2024-03-01   NR  SK01        2024   30379.0
 281432    A     LSTY   TOTAL 2024-03-01   NR  SK02        2024    9066.0
 281433    A     LSTY   TOTAL 2024-03-01   NR  SK03        2024   23956.0
 281434    A     LSTY   TOTAL 2024-03-01   NR  SK04        2024   19370.0

 [28875 rows x 8 columns],
 'LengthOfStay_TOTAL_annual':        freq indic_to c_resid      month unit   GEO TIME_PERIOD   bookings
 14630     A     LSTY   TOTAL 2018-01-01   NR    AT        2018  4086993.0
 14631     A     LSTY   TOTAL 2018-01-01   NR   AT1        2018  1585089.0
 14632     A     LSTY   TOTAL 2018-01-01   NR  AT11        2018    25295.0
 14633     A     LSTY   TOTAL 2018-01-01   NR  AT12        2018    71639.0
 14634     A     LSTY   TOTAL 2018-01-01   NR  AT13        2018  1488155.0
 ...     ...      ...     ...        ...  ...   ...         ...        ...
 240235    A     LSTY   TOTAL 2023-01-01   NR   SK0        2023  1068982.0
 240236    A     LSTY   TOTAL 2023-01-01   NR  SK01        2023   316818.0
 240237    A     LSTY   TOTAL 2023-01-01   NR  SK02        2023   114205.0
 240238    A     LSTY   TOTAL 2023-01-01   NR  SK03        2023   338856.0
 240239    A     LSTY   TOTAL 2023-01-01   NR  SK04        2023   299103.0

 [2310 rows x 8 columns]}

In [15]:
nights_spend_data

{'NightsSpend_DOM_monthly':        freq indic_to c_resid      month unit   GEO TIME_PERIOD  bookings
 15015     A   NGT_SP     DOM 2018-01-01   NR    AT        2018   69008.0
 15016     A   NGT_SP     DOM 2018-01-01   NR   AT1        2018   17237.0
 15017     A   NGT_SP     DOM 2018-01-01   NR  AT11        2018     761.0
 15018     A   NGT_SP     DOM 2018-01-01   NR  AT12        2018    1968.0
 15019     A   NGT_SP     DOM 2018-01-01   NR  AT13        2018   14508.0
 ...     ...      ...     ...        ...  ...   ...         ...       ...
 286435    A   NGT_SP     DOM 2024-03-01   NR   SK0        2024   91918.0
 286436    A   NGT_SP     DOM 2024-03-01   NR  SK01        2024   15951.0
 286437    A   NGT_SP     DOM 2024-03-01   NR  SK02        2024    9049.0
 286438    A   NGT_SP     DOM 2024-03-01   NR  SK03        2024   38936.0
 286439    A   NGT_SP     DOM 2024-03-01   NR  SK04        2024   27982.0

 [28848 rows x 8 columns],
 'NightsSpend_DOM_annual':        freq indic_to c_resid      month unit   GEO TIME_PERIOD   bookings
 19635     A   NGT_SP     DOM 2018-01-01   NR    AT        2018  1074681.0
 19636     A   NGT_SP     DOM 2018-01-01   NR   AT1        2018   329148.0
 19637     A   NGT_SP     DOM 2018-01-01   NR  AT11        2018    32289.0
 19638     A   NGT_SP     DOM 2018-01-01   NR  AT12        2018    50461.0
 19639     A   NGT_SP     DOM 2018-01-01   NR  AT13        2018   246398.0
 ...     ...      ...     ...        ...  ...   ...         ...        ...
 245240    A   NGT_SP     DOM 2023-01-01   NR   SK0        2023   973086.0
 245241    A   NGT_SP     DOM 2023-01-01   NR  SK01        2023   145343.0
 245242    A   NGT_SP     DOM 2023-01-01   NR  SK02        2023   112155.0
 245243    A   NGT_SP     DOM 2023-01-01   NR  SK03        2023   416728.0
 245244    A   NGT_SP     DOM 2023-01-01   NR  SK04        2023   298860.0

 [2310 rows x 8 columns],
 'NightsSpend_FOR_monthly':        freq indic_to c_resid      month unit   GEO TIME_PERIOD   bookings
 20020     A   NGT_SP     FOR 2018-01-01   NR    AT        2018  1139703.0
 20021     A   NGT_SP     FOR 2018-01-01   NR   AT1        2018   149049.0
 20022     A   NGT_SP     FOR 2018-01-01   NR  AT11        2018     1045.0
 20023     A   NGT_SP     FOR 2018-01-01   NR  AT12        2018     6468.0
 20024     A   NGT_SP     FOR 2018-01-01   NR  AT13        2018   141536.0
 ...     ...      ...     ...        ...  ...   ...         ...        ...
 291440    A   NGT_SP     FOR 2024-03-01   NR   SK0        2024   140616.0
 291441    A   NGT_SP     FOR 2024-03-01   NR  SK01        2024    52420.0
 291442    A   NGT_SP     FOR 2024-03-01   NR  SK02        2024    13200.0
 291443    A   NGT_SP     FOR 2024-03-01   NR  SK03        2024    46193.0
 291444    A   NGT_SP     FOR 2024-03-01   NR  SK04        2024    28803.0

 [28871 rows x 8 columns],
 'NightsSpend_FOR_annual':        freq indic_to c_resid      month unit   GEO TIME_PERIOD    bookings
 24640     A   NGT_SP     FOR 2018-01-01   NR    AT        2018  12299371.0
 24641     A   NGT_SP     FOR 2018-01-01   NR   AT1        2018   3795493.0
 24642     A   NGT_SP     FOR 2018-01-01   NR  AT11        2018     42086.0
 24643     A   NGT_SP     FOR 2018-01-01   NR  AT12        2018    148274.0
 24644     A   NGT_SP     FOR 2018-01-01   NR  AT13        2018   3605133.0
 ...     ...      ...     ...        ...  ...   ...         ...         ...
 250245    A   NGT_SP     FOR 2023-01-01   NR   SK0        2023   2145805.0
 250246    A   NGT_SP     FOR 2023-01-01   NR  SK01        2023    591539.0
 250247    A   NGT_SP     FOR 2023-01-01   NR  SK02        2023    182741.0
 250248    A   NGT_SP     FOR 2023-01-01   NR  SK03        2023    778670.0
 250249    A   NGT_SP     FOR 2023-01-01   NR  SK04        2023    592855.0

 [2310 rows x 8 columns],
 'NightsSpend_TOTAL_monthly':        freq indic_to c_resid      month unit   GEO TIME_PERIOD   bookings
 25025     A   NGT_SP   TOTAL 2018-01-01   NR    AT        2018  1208711.0
 25026     A   NGT_SP   TOTAL 2018-01-01   NR   AT1        2018   166286.0
 25027     A   NGT_SP   TOTAL 2018-01-01   NR  AT11        2018     1806.0
 25028     A   NGT_SP   TOTAL 2018-01-01   NR  AT12        2018     8436.0
 25029     A   NGT_SP   TOTAL 2018-01-01   NR  AT13        2018   156044.0
 ...     ...      ...     ...        ...  ...   ...         ...        ...
 296445    A   NGT_SP   TOTAL 2024-03-01   NR   SK0        2024   232534.0
 296446    A   NGT_SP   TOTAL 2024-03-01   NR  SK01        2024    68371.0
 296447    A   NGT_SP   TOTAL 2024-03-01   NR  SK02        2024    22249.0
 296448    A   NGT_SP   TOTAL 2024-03-01   NR  SK03        2024    85129.0
 296449    A   NGT_SP   TOTAL 2024-03-01   NR  SK04        2024    56785.0

 [28875 rows x 8 columns],
 'NightsSpend_TOTAL_annual':        freq indic_to c_resid      month unit   GEO TIME_PERIOD    bookings
 29645     A   NGT_SP   TOTAL 2018-01-01   NR    AT        2018  13374052.0
 29646     A   NGT_SP   TOTAL 2018-01-01   NR   AT1        2018   4124641.0
 29647     A   NGT_SP   TOTAL 2018-01-01   NR  AT11        2018     74375.0
 29648     A   NGT_SP   TOTAL 2018-01-01   NR  AT12        2018    198735.0
 29649     A   NGT_SP   TOTAL 2018-01-01   NR  AT13        2018   3851531.0
 ...     ...      ...     ...        ...  ...   ...         ...         ...
 255250    A   NGT_SP   TOTAL 2023-01-01   NR   SK0        2023   3118891.0
 255251    A   NGT_SP   TOTAL 2023-01-01   NR  SK01        2023    736882.0
 255252    A   NGT_SP   TOTAL 2023-01-01   NR  SK02        2023    294896.0
 255253    A   NGT_SP   TOTAL 2023-01-01   NR  SK03        2023   1195398.0
 255254    A   NGT_SP   TOTAL 2023-01-01   NR  SK04        2023    891715.0

 [2310 rows x 8 columns]}